{% assign sub_page_count = item.children_in_list | size %}
{% if sub_page_count > 0 %}
  <li class="mt-1" x-data="{ open: true }">
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-3">
        <a href="#{{ item.id }}">
          <span class="w-full line-clamp-1 md:w-auto md:max-w-md">{{ item.link_text }}</span>
        </a>
      </div>
      <div class="hidden px-3 md:block grow">
        <span class="block border-none border-slate-300"></span>
      </div>
      <div class="hidden md:block">
      </div>
    </div>
    <!-- 3rd level -->
    <ul class="pl-4 mb-2 ml-1 border-l">
      {% for sub_page in item.children_in_list %}
        {% render "export_tree", item: sub_page %}
      {% endfor %}
    </ul>
  </li>
{% else %}
  <li class="mt-1">
    <a class="flex items-center justify-between" href="#{{ item.id }}">
      <p class="w-full line-clamp-1 md:w-auto md:max-w-md">{{ item.link_text }}</p>
      <div class="hidden px-3 md:block grow">
        <span class="block border-none border-slate-300"></span>
      </div>
      <div class="hidden md:block">
      </div>
    </a>
  </li>
{% endif %}
