{{ 'css/ulike_header.css' | asset_url | stylesheet_tag }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<div id="shopify-section-header">
        <!-- Desktop header -->
        <header class="ulike-header" role="banner" aria-label="Ulike main header">
            <div class="container">
                <div class="header__wrapper">


                    <!-- Center: Logo -->
                    <a class="ulike-header__logo" href="/" aria-label="Ulike home">
                        <img src="//www.ulike.com/cdn/shop/files/logo-hei_c6feafa6-990a-4477-a016-7156fdf7e888_230x.svg?v=1678674205"
                            alt="Ulike" />
                    </a>

                    <!-- Left: Desktop nav -->
                    <nav class="ulike-nav" aria-label="Primary">
                        <ul class="header__linklist list--unstyled hidden-pocket hidden-lap" role="list">
                            <li class="header__linklist-item  " data-item-title="Product">


                                <div class="header__linklist-link link--animated" ment-id="desktop-menu-1">Product</div>


                            </li>
                            <li class="header__linklist-item   has-tag" data-item-title="Take a quiz">


                                <a class="header__linklist-link link--animated"
                                    href="https://www.ulike.com/pages/find-my-product" text="Take a quiz"
                                    ment-id="desktop-menu-2">Take a quiz</a>


                            </li>
                            <li class="header__linklist-item  " data-item-title="Results &amp; Reviews">


                                <a class="header__linklist-link link--animated"
                                    href="https://www.ulike.com/pages/result-review" text="Results &amp; Reviews"
                                    ment-id="desktop-menu-3">Results &amp; Reviews</a>


                            </li>
                            <li class="header__linklist-item has-dropdown-new " data-item-title="Explore More">

                                <div class="header__linklist-link link--animated" aria-controls="desktop-menu-4"
                                    aria-expanded="false" role="button" tabindex="0" ment-id="desktop-menu-4">Explore
                                    More
                                </div>

                            </li>
                            <li class="header__linklist-item  " data-item-title="Support">


                                <a class="header__linklist-link link--animated" href="https://helpcenter.ulike.com/"
                                    text="Support" rel="nofollow" ment-id="desktop-menu-5">Support</a>


                            </li>
                        </ul>
                    </nav>



                    <!-- Right: Actions -->
                    <div class="ulike-actions" aria-label="Header actions">
                    </div>
                </div>
            </div>
        </header>

        <!-- Mobile header + drawer (pure CSS) -->
        <section class="ulike-masthead" aria-label="Ulike mobile header">
            <div class="ulike-masthead__row">
                <!-- Burger + checkbox hack -->
                <input id="ulike-menu-toggle" type="checkbox" class="ulike-hide" />
                <div class="header__icon-list ">
                    <button is="toggle-button" class="header__icon-wrapper" aria-controls="mobile-menu-drawer"
                        aria-expanded="false">
                        <span class="visually-hidden">Navigation</span><svg focusable="false" width="18" height="14"
                            class="icon icon--header-hamburger   " viewBox="0 0 18 14">
                            <path d="M0 1h18M0 13h18H0zm0-6h18H0z" fill="none" stroke="currentColor" stroke-width="1.3">
                            </path>
                        </svg></button>
                </div>

                <a class="ulike-masthead__logo" href="/" aria-label="Ulike home">
                    <img src="//www.ulike.com/cdn/shop/files/logo-hei_c6feafa6-990a-4477-a016-7156fdf7e888_230x.svg?v=1678674205"
                        alt="Ulike" />
                </a>

                <div class="ulike-actions">

                </div>
            </div>

        </section>

        <div class="header-new-popup">
            <div class="header-new-cont">
                <div class="container">
                    <div class="header-new-cont-list">
                        <div class="header-new-hide" id="desktop-menu-1" style="display: none;">
                            <div class="header-new-item">
                                <div class="header-new-item-sm">
                                    <div class="header-new-item-title">IPL Hair Removal Device</div>
                                    <div class="header-new-item-sm-list">
                                        <!-- 二级菜单-产品 -->



                                        <a href="https://www.ulike.com/products/sapphire-air-10-ipl-hair-removal"
                                            class="header-new-product-item">
                                            <div class="header-new-product-img">
                                                <img src="//www.ulike.com/cdn/shop/files/Air10_28409c01-7339-47ff-a00e-fd0f809c6bd0.png?v=1750417579"
                                                    width="" height="" alt="Ulike Air 10" loading="lazy">

                                            </div>
                                            <div class="header-new-product-info">
                                                <div class="header-new-product-title">Ulike Air 10
                                                    <span>BEST SELLER</span>

                                                </div>
                                                <div class="header-new-product-star">
                                                    <div class="jdgm-widget jdgm-preview-badge jdgm-preview-badge--with-link jdgm--done-setup"
                                                        data-widget-name="preview_badge" data-impressions-tracked="true"
                                                        data-views-tracked="true">
                                                        <div style="display:none" class="jdgm-prev-badge"
                                                            data-average-rating="4.78" data-number-of-reviews="1745"
                                                            data-number-of-questions="0"> <span
                                                                class="jdgm-prev-badge__stars" data-score="4.78"
                                                                tabindex="0" aria-label="4.78 stars" role="button">
                                                                <span class="jdgm-star jdgm--on"></span><span
                                                                    class="jdgm-star jdgm--on"></span><span
                                                                    class="jdgm-star jdgm--on"></span><span
                                                                    class="jdgm-star jdgm--on"></span><span
                                                                    class="jdgm-star jdgm--on"></span> </span> <span
                                                                class="jdgm-prev-badge__text">(1745)</span> </div>
                                                    </div>
                                                </div>
                                                <div class="header-new-product-price"><span class="money">$349.00</span>
                                                </div>
                                                <div class="header-new-product-btn" data-id="44485783814385"
                                                    data-code="">
                                                    Add to Cart
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11"
                                                        viewBox="0 0 14 11" fill="none">
                                                        <path d="M0 5.50061L13.087 5.5" stroke="#E0004D"
                                                            stroke-width="0.608696"></path>
                                                        <path d="M10.3477 2.76099L13.553 5.50073L10.3477 8.17107"
                                                            stroke="#E0004D" stroke-width="0.608696"
                                                            stroke-linejoin="round"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="https://www.ulike.com/products/sapphire-air-3-ipl-hair-removal"
                                            class="header-new-product-item">
                                            <div class="header-new-product-img">
                                                <img src="//www.ulike.com/cdn/shop/files/Air3_f6387ddc-fdb3-4b44-b2d7-01e51d378ebc.png?v=1750417579"
                                                    width="" height="" alt="Ulike Air 3" loading="lazy">

                                            </div>
                                            <div class="header-new-product-info">
                                                <div class="header-new-product-title">Ulike Air 3
                                                    <span>HOT</span>

                                                </div>
                                                <div class="header-new-product-star">
                                                    <div class="jdgm-widget jdgm-preview-badge jdgm-preview-badge--with-link jdgm--done-setup"
                                                        data-widget-name="preview_badge" data-impressions-tracked="true"
                                                        data-views-tracked="true">
                                                        <div style="display:none" class="jdgm-prev-badge"
                                                            data-average-rating="4.60" data-number-of-reviews="3009"
                                                            data-number-of-questions="0"> <span
                                                                class="jdgm-prev-badge__stars" data-score="4.60"
                                                                tabindex="0" aria-label="4.60 stars" role="button">
                                                                <span class="jdgm-star jdgm--on"></span><span
                                                                    class="jdgm-star jdgm--on"></span><span
                                                                    class="jdgm-star jdgm--on"></span><span
                                                                    class="jdgm-star jdgm--on"></span><span
                                                                    class="jdgm-star jdgm--half"></span> </span> <span
                                                                class="jdgm-prev-badge__text">(3009)</span> </div>
                                                    </div>
                                                </div>
                                                <div class="header-new-product-price"><span class="money">$329.00</span>
                                                </div>
                                                <div class="header-new-product-btn" data-id="43695950823665"
                                                    data-code="">
                                                    Add to Cart
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11"
                                                        viewBox="0 0 14 11" fill="none">
                                                        <path d="M0 5.50061L13.087 5.5" stroke="#E0004D"
                                                            stroke-width="0.608696"></path>
                                                        <path d="M10.3477 2.76099L13.553 5.50073L10.3477 8.17107"
                                                            stroke="#E0004D" stroke-width="0.608696"
                                                            stroke-linejoin="round"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="https://www.ulike.com/products/ulike-x-ipl-hair-removal"
                                            class="header-new-product-item">
                                            <div class="header-new-product-img">
                                                <img src="//www.ulike.com/cdn/shop/files/Ulike_X_e30755ce-91d0-4247-b331-353e20293de7.png?v=1750417579"
                                                    width="" height="" alt="Ulike X" loading="lazy">

                                            </div>
                                            <div class="header-new-product-info">
                                                <div class="header-new-product-title">Ulike X
                                                    <span>SALE</span>

                                                </div>
                                                <div class="header-new-product-star">
                                                    <div class="jdgm-widget jdgm-preview-badge jdgm-preview-badge--with-link jdgm--done-setup"
                                                        data-widget-name="preview_badge" data-impressions-tracked="true"
                                                        data-views-tracked="true">
                                                        <div style="display:none" class="jdgm-prev-badge"
                                                            data-average-rating="4.81" data-number-of-reviews="84"
                                                            data-number-of-questions="0"> <span
                                                                class="jdgm-prev-badge__stars" data-score="4.81"
                                                                tabindex="0" aria-label="4.81 stars" role="button">
                                                                <span class="jdgm-star jdgm--on"></span><span
                                                                    class="jdgm-star jdgm--on"></span><span
                                                                    class="jdgm-star jdgm--on"></span><span
                                                                    class="jdgm-star jdgm--on"></span><span
                                                                    class="jdgm-star jdgm--on"></span> </span> <span
                                                                class="jdgm-prev-badge__text">(84)</span> </div>
                                                    </div>
                                                </div>
                                                <div class="header-new-product-price"><span class="money">$429.00</span>
                                                </div>
                                                <div class="header-new-product-btn" data-id="45509932056817"
                                                    data-code="">
                                                    Add to Cart
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11"
                                                        viewBox="0 0 14 11" fill="none">
                                                        <path d="M0 5.50061L13.087 5.5" stroke="#E0004D"
                                                            stroke-width="0.608696"></path>
                                                        <path d="M10.3477 2.76099L13.553 5.50073L10.3477 8.17107"
                                                            stroke="#E0004D" stroke-width="0.608696"
                                                            stroke-linejoin="round"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>


                                    </div><a href="https://www.ulike.com/collections/ipl-hair-removal"
                                        class="header-new-all">
                                        SHOP ALL IPL DEVICES
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11"
                                            viewBox="0 0 14 11" fill="none">
                                            <path d="M0 5.50061L13.087 5.5" stroke="#E0004D" stroke-width="0.608696">
                                            </path>
                                            <path d="M10.3477 2.76099L13.553 5.50073L10.3477 8.17107" stroke="#E0004D"
                                                stroke-width="0.608696" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="header-new-item-sm">
                                    <div class="header-new-item-title">LED Light Therapy Mask</div>
                                    <div class="header-new-item-sm-list">
                                        <!-- 二级菜单-产品 -->



                                        <a href="https://www.ulike.com/products/ulike-reglow-led-light-therapy-mask"
                                            class="header-new-product-item">
                                            <div class="header-new-product-img">
                                                <img src="//www.ulike.com/cdn/shop/files/Ulike_ReGlow.png?v=1750417579"
                                                    width="" height="" alt="Ulike ReGlow" loading="lazy">

                                            </div>
                                            <div class="header-new-product-info">
                                                <div class="header-new-product-title">Ulike ReGlow
                                                    <span>NEW</span>

                                                </div>
                                                <div class="header-new-product-star">
                                                    <div class="jdgm-widget jdgm-preview-badge jdgm-preview-badge--with-link jdgm--done-setup"
                                                        data-widget-name="preview_badge" data-impressions-tracked="true"
                                                        data-views-tracked="true">
                                                        <div style="display:none" class="jdgm-prev-badge"
                                                            data-average-rating="4.96" data-number-of-reviews="27"
                                                            data-number-of-questions="1"> <span
                                                                class="jdgm-prev-badge__stars" data-score="4.96"
                                                                tabindex="0" aria-label="4.96 stars" role="button">
                                                                <span class="jdgm-star jdgm--on"></span><span
                                                                    class="jdgm-star jdgm--on"></span><span
                                                                    class="jdgm-star jdgm--on"></span><span
                                                                    class="jdgm-star jdgm--on"></span><span
                                                                    class="jdgm-star jdgm--on"></span> </span> <span
                                                                class="jdgm-prev-badge__text">(27)</span> </div>
                                                    </div>
                                                </div>
                                                <div class="header-new-product-price"><span class="money">$399.00</span>
                                                </div>
                                                <div class="header-new-product-btn" data-id="46077545382129"
                                                    data-code="">
                                                    Add to Cart
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11"
                                                        viewBox="0 0 14 11" fill="none">
                                                        <path d="M0 5.50061L13.087 5.5" stroke="#E0004D"
                                                            stroke-width="0.608696"></path>
                                                        <path d="M10.3477 2.76099L13.553 5.50073L10.3477 8.17107"
                                                            stroke="#E0004D" stroke-width="0.608696"
                                                            stroke-linejoin="round"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>


                                    </div><a href="https://www.ulike.com/collections/led-light-therapy-mask"
                                        class="header-new-all">
                                        SHOP ALL LED MASKS
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11"
                                            viewBox="0 0 14 11" fill="none">
                                            <path d="M0 5.50061L13.087 5.5" stroke="#E0004D" stroke-width="0.608696">
                                            </path>
                                            <path d="M10.3477 2.76099L13.553 5.50073L10.3477 8.17107" stroke="#E0004D"
                                                stroke-width="0.608696" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>

                        </div>




                        <!-- 三级菜单-链接 -->
                        <div class="header-new-hide market-cont-menu" id="desktop-menu-4" style="display: none;">
                            <div class="header-new-item">
                                <div class="header-new-item-sm">
                                    <div class="header-new-item-title">About Product</div>
                                    <div class="header-new-item-sm-list"><a
                                            href="/collections/ulike-hair-removal-air-series" text="Compare"
                                            class="header-new-link-item "><span>
                                                Compare
                                            </span>
                                        </a><a href="https://www.ulike.com/pages/how-it-works" text="How IPL works"
                                            class="header-new-link-item "><span>
                                                How IPL works
                                            </span>
                                        </a><a href="https://www.ulike.com/pages/how-to-use" text="How to use"
                                            class="header-new-link-item "><span>
                                                How to use
                                            </span>
                                        </a></div>
                                </div>
                                <div class="header-new-item-sm">
                                    <div class="header-new-item-title">Ulike Technology</div>
                                    <div class="header-new-item-sm-list"><a
                                            href="https://www.ulike.com/pages/technology-ice-cooling"
                                            text="Sapphire Ice-cooling™"
                                            class="header-new-link-item link-menu-icon-a"><img
                                                class="link-menu-icon ls-is-cached lazyloaded"
                                                data-src="//www.ulike.com/cdn/shop/files/Sapphire_Ice_Cooling.png?v=1752125579"
                                                width="" height="" alt=""
                                                src="//www.ulike.com/cdn/shop/files/Sapphire_Ice_Cooling.png?v=1752125579"><span>
                                                Sapphire Ice-cooling™
                                            </span>
                                        </a><a href="https://www.ulike.com/pages/technology-dual-lights"
                                            text="Dual Lights" class="header-new-link-item link-menu-icon-a"><img
                                                class="link-menu-icon ls-is-cached lazyloaded"
                                                data-src="//www.ulike.com/cdn/shop/files/Dual_Lights.png?v=1752125579"
                                                width="" height="" alt=""
                                                src="//www.ulike.com/cdn/shop/files/Dual_Lights.png?v=1752125579"><span>
                                                Dual Lights
                                            </span>
                                        </a><a href="https://www.ulike.com/pages/technology-skinsensor"
                                            text="SkinSensor" class="header-new-link-item link-menu-icon-a"><img
                                                class="link-menu-icon ls-is-cached lazyloaded"
                                                data-src="//www.ulike.com/cdn/shop/files/SkinSensor.png?v=1752125579"
                                                width="" height="" alt=""
                                                src="//www.ulike.com/cdn/shop/files/SkinSensor.png?v=1752125579"><span>
                                                SkinSensor
                                            </span>
                                        </a></div>
                                </div>
                                <div class="header-new-item-sm">
                                    <div class="header-new-item-title">Blogs</div>
                                    <div class="header-new-item-sm-list"><a href="https://www.ulike.com/blogs/all"
                                            text="Explore Beauty" class="header-new-link-item "><span>
                                                Explore Beauty
                                            </span>
                                        </a></div>
                                </div>
                            </div>

                            <div class="market-cont-menu-list"><a
                                    href="https://www.ulike.com/pages/ulike4pcos?_rtId_=mcsoni4j_aft1NuQl"
                                    class="market-cont-menu-item"><img
                                        class="market-cont-menu-img ls-is-cached lazyloaded"
                                        data-src="//www.ulike.com/cdn/shop/files/Web_-_-_PCOS.png?v=1752125743" width=""
                                        height="" alt=""
                                        src="//www.ulike.com/cdn/shop/files/Web_-_-_PCOS.png?v=1752125743">
                                    <h3 class="market-cont-menu-h3">Ulike for PCOS</h3>
                                    <p class="market-cont-menu-p">We see you. Partnering with the PCOS community to
                                        offer
                                        effective solutions for excess hair.</p>
                                </a><a href="https://www.ulike.com/pages/ulike-and-aad-advancing-dermatological-care"
                                    class="market-cont-menu-item"><img
                                        class="market-cont-menu-img ls-is-cached lazyloaded"
                                        data-src="//www.ulike.com/cdn/shop/files/Web_-_-_AAD.png?v=1752125742" width=""
                                        height="" alt=""
                                        src="//www.ulike.com/cdn/shop/files/Web_-_-_AAD.png?v=1752125742">
                                    <h3 class="market-cont-menu-h3">Ulike at AAD Annual Meeting</h3>
                                    <p class="market-cont-menu-p">Ulike joins the world’s top dermatology event and is
                                        committed to advancing skincare technology</p>
                                </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <mobile-navigation id="mobile-menu-drawer" class="drawer drawer--from-left" hidden>
        <span class="drawer__overlay"></span>

        <div class="drawer__header drawer__header--shadowed">
            <button type="button" class="drawer__close-button drawer__close-button--block tap-area" data-action="close"
                title="Close"><svg focusable="false" width="14" height="14" class="icon icon--close   "
                    viewBox="0 0 14 14">
                    <path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="1.3" fill="none"></path>
                </svg></button>
        </div>
        <div class="drawer__content  header-new-popup">
            <ul class="mobile-nav list--unstyled" role="list">
                <li class="mobile-nav__item " data-level="1" style="opacity: 1;"><button is="toggle-button"
                        class="mobile-nav__link heading h5" aria-controls="mobile-menu-1" text="Product"
                        aria-expanded="false">Product<span class="animated-plus-jt">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8"
                                fill="none">
                                <path d="M13 1L7 7L1 1" stroke="#190A0A" stroke-width="1.4" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </button><collapsible-content id="mobile-menu-1" class="collapsible" exclusive=""
                        style="overflow: hidden;">
                        <div class="header-new-item product-operate" role="list">





                            <div class="header-new-item-sm">
                                <div class="header-new-item-title" title="IPL Hair Removal Device">
                                    IPL Hair Removal Device
                                </div>
                                <div class="header-new-item-sm-list">
                                    <!-- 二级菜单-产品 -->



                                    <a href="https://www.ulike.com/products/sapphire-air-10-ipl-hair-removal"
                                        class="header-new-product-item">
                                        <div class="header-new-product-img">
                                            <img src="//www.ulike.com/cdn/shop/files/Air10_28409c01-7339-47ff-a00e-fd0f809c6bd0.png?v=1750417579"
                                                width="" height="" alt="Ulike Air 10" loading="lazy">

                                        </div>
                                        <div class="header-new-product-info">
                                            <div class="header-new-product-title">
                                                Ulike Air 10
                                                <span>BEST SELLER</span>

                                            </div>
                                            <div class="header-new-product-star">
                                                <div class="jdgm-widget jdgm-preview-badge jdgm-preview-badge--with-link jdgm--done-setup"
                                                    data-widget-name="preview_badge" data-impressions-tracked="true"
                                                    data-views-tracked="true">
                                                    <div style="display:none" class="jdgm-prev-badge"
                                                        data-average-rating="4.78" data-number-of-reviews="1745"
                                                        data-number-of-questions="0"> <span
                                                            class="jdgm-prev-badge__stars" data-score="4.78"
                                                            tabindex="0" aria-label="4.78 stars" role="button">
                                                            <span class="jdgm-star jdgm--on"></span><span
                                                                class="jdgm-star jdgm--on"></span><span
                                                                class="jdgm-star jdgm--on"></span><span
                                                                class="jdgm-star jdgm--on"></span><span
                                                                class="jdgm-star jdgm--on"></span> </span> <span
                                                            class="jdgm-prev-badge__text">(1745)</span> </div>
                                                </div>
                                            </div>
                                            <div class="header-new-product-price"><span class="money">$349.00</span>
                                            </div>
                                            <div class="header-new-product-btn" data-id="44485783814385" data-code="">
                                                Add to Cart
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11"
                                                    viewBox="0 0 14 11" fill="none">
                                                    <path d="M0 5.50061L13.087 5.5" stroke="#E0004D"
                                                        stroke-width="0.608696"></path>
                                                    <path d="M10.3477 2.76099L13.553 5.50073L10.3477 8.17107"
                                                        stroke="#E0004D" stroke-width="0.608696"
                                                        stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://www.ulike.com/products/sapphire-air-3-ipl-hair-removal"
                                        class="header-new-product-item">
                                        <div class="header-new-product-img">
                                            <img src="//www.ulike.com/cdn/shop/files/Air3_f6387ddc-fdb3-4b44-b2d7-01e51d378ebc.png?v=1750417579"
                                                width="" height="" alt="Ulike Air 3" loading="lazy">

                                        </div>
                                        <div class="header-new-product-info">
                                            <div class="header-new-product-title">
                                                Ulike Air 3
                                                <span>HOT</span>

                                            </div>
                                            <div class="header-new-product-star">
                                                <div class="jdgm-widget jdgm-preview-badge jdgm-preview-badge--with-link jdgm--done-setup"
                                                    data-widget-name="preview_badge" data-impressions-tracked="true"
                                                    data-views-tracked="true">
                                                    <div style="display:none" class="jdgm-prev-badge"
                                                        data-average-rating="4.60" data-number-of-reviews="3009"
                                                        data-number-of-questions="0"> <span
                                                            class="jdgm-prev-badge__stars" data-score="4.60"
                                                            tabindex="0" aria-label="4.60 stars" role="button">
                                                            <span class="jdgm-star jdgm--on"></span><span
                                                                class="jdgm-star jdgm--on"></span><span
                                                                class="jdgm-star jdgm--on"></span><span
                                                                class="jdgm-star jdgm--on"></span><span
                                                                class="jdgm-star jdgm--half"></span> </span> <span
                                                            class="jdgm-prev-badge__text">(3009)</span> </div>
                                                </div>
                                            </div>
                                            <div class="header-new-product-price"><span class="money">$329.00</span>
                                            </div>
                                            <div class="header-new-product-btn" data-id="43695950823665" data-code="">
                                                Add to Cart
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11"
                                                    viewBox="0 0 14 11" fill="none">
                                                    <path d="M0 5.50061L13.087 5.5" stroke="#E0004D"
                                                        stroke-width="0.608696"></path>
                                                    <path d="M10.3477 2.76099L13.553 5.50073L10.3477 8.17107"
                                                        stroke="#E0004D" stroke-width="0.608696"
                                                        stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://www.ulike.com/products/ulike-x-ipl-hair-removal"
                                        class="header-new-product-item">
                                        <div class="header-new-product-img">
                                            <img src="//www.ulike.com/cdn/shop/files/Ulike_X_e30755ce-91d0-4247-b331-353e20293de7.png?v=1750417579"
                                                width="" height="" alt="Ulike X" loading="lazy">

                                        </div>
                                        <div class="header-new-product-info">
                                            <div class="header-new-product-title">
                                                Ulike X
                                                <span>SALE</span>

                                            </div>
                                            <div class="header-new-product-star">
                                                <div class="jdgm-widget jdgm-preview-badge jdgm-preview-badge--with-link jdgm--done-setup"
                                                    data-widget-name="preview_badge" data-impressions-tracked="true"
                                                    data-views-tracked="true">
                                                    <div style="display:none" class="jdgm-prev-badge"
                                                        data-average-rating="4.81" data-number-of-reviews="84"
                                                        data-number-of-questions="0"> <span
                                                            class="jdgm-prev-badge__stars" data-score="4.81"
                                                            tabindex="0" aria-label="4.81 stars" role="button">
                                                            <span class="jdgm-star jdgm--on"></span><span
                                                                class="jdgm-star jdgm--on"></span><span
                                                                class="jdgm-star jdgm--on"></span><span
                                                                class="jdgm-star jdgm--on"></span><span
                                                                class="jdgm-star jdgm--on"></span> </span> <span
                                                            class="jdgm-prev-badge__text">(84)</span> </div>
                                                </div>
                                            </div>
                                            <div class="header-new-product-price"><span class="money">$429.00</span>
                                            </div>
                                            <div class="header-new-product-btn" data-id="45509932056817" data-code="">
                                                Add to Cart
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11"
                                                    viewBox="0 0 14 11" fill="none">
                                                    <path d="M0 5.50061L13.087 5.5" stroke="#E0004D"
                                                        stroke-width="0.608696"></path>
                                                    <path d="M10.3477 2.76099L13.553 5.50073L10.3477 8.17107"
                                                        stroke="#E0004D" stroke-width="0.608696"
                                                        stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </a>


                                </div><a href="https://www.ulike.com/collections/ipl-hair-removal"
                                    class="header-new-all">
                                    SHOP ALL IPL DEVICES
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11"
                                        fill="none">
                                        <path d="M0 5.50061L13.087 5.5" stroke="#E0004D" stroke-width="0.608696">
                                        </path>
                                        <path d="M10.3477 2.76099L13.553 5.50073L10.3477 8.17107" stroke="#E0004D"
                                            stroke-width="0.608696" stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </div>

                            <div class="header-new-item-sm">
                                <div class="header-new-item-title" title="LED Light Therapy Mask">
                                    LED Light Therapy Mask
                                </div>
                                <div class="header-new-item-sm-list">
                                    <!-- 二级菜单-产品 -->



                                    <a href="https://www.ulike.com/products/ulike-reglow-led-light-therapy-mask"
                                        class="header-new-product-item">
                                        <div class="header-new-product-img">
                                            <img src="//www.ulike.com/cdn/shop/files/Ulike_ReGlow.png?v=1750417579"
                                                width="" height="" alt="Ulike ReGlow" loading="lazy">

                                        </div>
                                        <div class="header-new-product-info">
                                            <div class="header-new-product-title">
                                                Ulike ReGlow
                                                <span>NEW</span>

                                            </div>
                                            <div class="header-new-product-star">
                                                <div class="jdgm-widget jdgm-preview-badge jdgm-preview-badge--with-link jdgm--done-setup"
                                                    data-widget-name="preview_badge" data-impressions-tracked="true"
                                                    data-views-tracked="true">
                                                    <div style="display:none" class="jdgm-prev-badge"
                                                        data-average-rating="4.96" data-number-of-reviews="27"
                                                        data-number-of-questions="1"> <span
                                                            class="jdgm-prev-badge__stars" data-score="4.96"
                                                            tabindex="0" aria-label="4.96 stars" role="button">
                                                            <span class="jdgm-star jdgm--on"></span><span
                                                                class="jdgm-star jdgm--on"></span><span
                                                                class="jdgm-star jdgm--on"></span><span
                                                                class="jdgm-star jdgm--on"></span><span
                                                                class="jdgm-star jdgm--on"></span> </span> <span
                                                            class="jdgm-prev-badge__text">(27)</span> </div>
                                                </div>
                                            </div>
                                            <div class="header-new-product-price"><span class="money">$399.00</span>
                                            </div>
                                            <div class="header-new-product-btn" data-id="46077545382129" data-code="">
                                                Add to Cart
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11"
                                                    viewBox="0 0 14 11" fill="none">
                                                    <path d="M0 5.50061L13.087 5.5" stroke="#E0004D"
                                                        stroke-width="0.608696"></path>
                                                    <path d="M10.3477 2.76099L13.553 5.50073L10.3477 8.17107"
                                                        stroke="#E0004D" stroke-width="0.608696"
                                                        stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </a>


                                </div><a href="https://www.ulike.com/collections/led-light-therapy-mask"
                                    class="header-new-all">
                                    SHOP ALL LED MASKS
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11"
                                        fill="none">
                                        <path d="M0 5.50061L13.087 5.5" stroke="#E0004D" stroke-width="0.608696">
                                        </path>
                                        <path d="M10.3477 2.76099L13.553 5.50073L10.3477 8.17107" stroke="#E0004D"
                                            stroke-width="0.608696" stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </div>











                        </div>


                    </collapsible-content></li>
                <li class="mobile-nav__item mobile-has__tag" data-level="1" style="opacity: 1;"><a
                        href="https://www.ulike.com/pages/find-my-product" text="Take a quiz"
                        class="mobile-nav__link heading h5">Take a quiz</a></li>
                <li class="mobile-nav__item " data-level="1" style="opacity: 1;"><a
                        href="https://www.ulike.com/pages/result-review" text="Results &amp; Reviews"
                        class="mobile-nav__link heading h5">Results &amp; Reviews</a></li>
                <li class="mobile-nav__item " data-level="1" style="opacity: 1;"><button is="toggle-button"
                        class="mobile-nav__link heading h5" aria-controls="mobile-menu-4" text="Explore More"
                        aria-expanded="false">Explore More<span class="animated-plus-jt">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8"
                                fill="none">
                                <path d="M13 1L7 7L1 1" stroke="#190A0A" stroke-width="1.4" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </button><collapsible-content id="mobile-menu-4" class="collapsible" exclusive="">
                        <div class="header-new-item market-cont-menu" role="list">
                            <div class="header-new-item-sm" data-level="2">
                                <div class="header-new-item-title">
                                    <button is="toggle-button" class="mobile-nav__link" aria-controls="mobile-menu-4-1"
                                        aria-expanded="true">About Product<span class="animated-plus-jt">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8"
                                                viewBox="0 0 14 8" fill="none">
                                                <path d="M13 1L7 7L1 1" stroke="#190A0A" stroke-width="1.4"
                                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                                <collapsible-content id="mobile-menu-4-1" class="collapsible" a="explore more" open="">
                                    <div class="header-new-item-sm-list" role="list"><a
                                            href="/collections/ulike-hair-removal-air-series"
                                            class="header-new-link-item " text="Compare"
                                            data-level="3"><span>Compare</span>
                                        </a><a href="https://www.ulike.com/pages/how-it-works"
                                            class="header-new-link-item " text="How IPL works" data-level="3"><span>How
                                                IPL works</span>
                                        </a><a href="https://www.ulike.com/pages/how-to-use"
                                            class="header-new-link-item " text="How to use" data-level="3"><span>How
                                                to
                                                use</span>
                                        </a></div>
                                </collapsible-content>
                            </div>
                            <div class="header-new-item-sm" data-level="2">
                                <div class="header-new-item-title">
                                    <button is="toggle-button" class="mobile-nav__link" aria-controls="mobile-menu-4-2"
                                        aria-expanded="true">Ulike Technology<span class="animated-plus-jt">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8"
                                                viewBox="0 0 14 8" fill="none">
                                                <path d="M13 1L7 7L1 1" stroke="#190A0A" stroke-width="1.4"
                                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                                <collapsible-content id="mobile-menu-4-2" class="collapsible" a="how to use" open="">
                                    <div class="header-new-item-sm-list" role="list"><a
                                            href="https://www.ulike.com/pages/technology-ice-cooling"
                                            class="header-new-link-item link-menu-icon-a" text="Sapphire Ice-cooling™"
                                            data-level="3"><img class="link-menu-icon ls-is-cached lazyloaded"
                                                data-src="//www.ulike.com/cdn/shop/files/Sapphire_Ice_Cooling.png?v=1752125579"
                                                width="" height="" alt=""
                                                src="//www.ulike.com/cdn/shop/files/Sapphire_Ice_Cooling.png?v=1752125579"><span>Sapphire
                                                Ice-cooling™</span>
                                        </a><a href="https://www.ulike.com/pages/technology-dual-lights"
                                            class="header-new-link-item link-menu-icon-a" text="Dual Lights"
                                            data-level="3"><img class="link-menu-icon ls-is-cached lazyloaded"
                                                data-src="//www.ulike.com/cdn/shop/files/Dual_Lights.png?v=1752125579"
                                                width="" height="" alt=""
                                                src="//www.ulike.com/cdn/shop/files/Dual_Lights.png?v=1752125579"><span>Dual
                                                Lights</span>
                                        </a><a href="https://www.ulike.com/pages/technology-skinsensor"
                                            class="header-new-link-item link-menu-icon-a" text="SkinSensor"
                                            data-level="3"><img class="link-menu-icon ls-is-cached lazyloaded"
                                                data-src="//www.ulike.com/cdn/shop/files/SkinSensor.png?v=1752125579"
                                                width="" height="" alt=""
                                                src="//www.ulike.com/cdn/shop/files/SkinSensor.png?v=1752125579"><span>SkinSensor</span>
                                        </a></div>
                                </collapsible-content>
                            </div>
                            <div class="header-new-item-sm" data-level="2">
                                <div class="header-new-item-title">
                                    <button is="toggle-button" class="mobile-nav__link" aria-controls="mobile-menu-4-3"
                                        aria-expanded="true">Blogs<span class="animated-plus-jt">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8"
                                                viewBox="0 0 14 8" fill="none">
                                                <path d="M13 1L7 7L1 1" stroke="#190A0A" stroke-width="1.4"
                                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                                <collapsible-content id="mobile-menu-4-3" class="collapsible" a="skinsensor" open="">
                                    <div class="header-new-item-sm-list" role="list"><a
                                            href="https://www.ulike.com/blogs/all" class="header-new-link-item "
                                            text="Explore Beauty" data-level="3"><span>Explore Beauty</span>
                                        </a></div>
                                </collapsible-content>
                            </div>
                            <div class="market-cont-menu-list"><a
                                    href="https://www.ulike.com/pages/ulike4pcos?_rtId_=mcsoni4j_aft1NuQl"
                                    class="market-cont-menu-item"><img
                                        class="market-cont-menu-img ls-is-cached lazyloaded"
                                        data-src="//www.ulike.com/cdn/shop/files/Web_-_-_PCOS.png?v=1752125743" width=""
                                        height="" alt=""
                                        src="//www.ulike.com/cdn/shop/files/Web_-_-_PCOS.png?v=1752125743">
                                    <h3 class="market-cont-menu-h3">Ulike for PCOS</h3>
                                    <p class="market-cont-menu-p">We see you. Partnering with the PCOS community to
                                        offer effective solutions for excess hair.</p>
                                </a><a href="https://www.ulike.com/pages/ulike-and-aad-advancing-dermatological-care"
                                    class="market-cont-menu-item"><img
                                        class="market-cont-menu-img ls-is-cached lazyloaded"
                                        data-src="//www.ulike.com/cdn/shop/files/Web_-_-_AAD.png?v=1752125742" width=""
                                        height="" alt=""
                                        src="//www.ulike.com/cdn/shop/files/Web_-_-_AAD.png?v=1752125742">
                                    <h3 class="market-cont-menu-h3">Ulike at AAD Annual Meeting</h3>
                                    <p class="market-cont-menu-p">Ulike joins the world’s top dermatology event and
                                        is
                                        committed to advancing skincare technology</p>
                                </a></div>
                        </div>
                    </collapsible-content></li>
     
               
            </ul>
        </div>
    </mobile-navigation>

    {{ 'javascripts/ulike_header.js' | asset_url | script_tag }}